<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Issue | HBHS Libraries</title>
</head>
<body>
    <main>
        <h1>Issue a Book</h1>
        <hr>

        <article>
            <h2>Issue Book</h2>
            <form action="/issue" method="POST">
                <label for="ISBN">Book ISBN:</label>
                <input type="text" id="bookId" name="bookId" required>

                <label for="userId">Student ID:</label>
                <input type="text" id="userId" name="userId" required>

                <button type="submit">Issue Book</button>
            </form>
        </article>
    </main>
</body>
</html>