<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Issue | HBHS Libraries</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>Return a Book</h1>
        <hr>

        <article>
            <h2>Return Book</h2>
            <form action="/return" method="POST">
                <label for="ISBN">Book ISBN:</label>
                <input type="text" id="bookId" name="bookId" required>

                <button type="submit">Return Book</button>
            </form>
        </article>
    </main>
    <%- include('footer') %>
</body>
</html>